<div class="hero-unit">
  <h2 class="twFrom"><%= message.twFrom %></h2>
  <%- linkTo('Edit this message', editMessagePath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Message Properties</h2>
<% for(var i in message) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= message[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>